{% extends 'base.j2' %}

{% block title %}在庫情報入力{% endblock %}

{% block content %}
    <main class="add_inventory_container">
        <h1 class="add_inventory_title">在庫情報入力</h1>
        <form class='add_inventory_form' action="{{ url_for('inventory.add') }}" method="POST">
           {{ form.hidden_tag() }}
            {{ form.category_id.label }}
            <div class="category_select_wrap">
                {{ form.category_id() }}
            </div>
            {{ form.material_id.label }}
            <div class="material_select_wrap">
                {{ form.material_id() }}
            </div>
            {{ form.quantity.label }}{{ form.quantity() }}
            {{ form.purchase_date.label }}{{ form.purchase_date() }}
            {{ form.expiration_date.label }}{{ form.expiration_date() }}
            {{ form.memo.label }}{{ form.memo() }}  {# メモのフィールドを追加 #}
            <button class="form_button" type="submit">送信</button>
        </form>
    </main>
{% endblock %}